<div class="row">
  <div class="col-md-8">
    <h1>Restaurants</h1>
  </div>
  <div class="col-md-4">
    <%= link_to 'Add Restaurant', new_user_session_path, :class => "btn btn-lg btn-warning pull-right", :id => 'add_rest_btn' %>
  </div>

</div>



<%= render 'restaurants/restaurant' %>
